main {
    flex-direction: column;
    justify-content: left;
}

.heading-image {
    min-inline-size: 100dvw;
    max-block-size: 20dvh;
    overflow-y: hidden;
    background-size: cover;
    background-position: center;
}

img {
    height: 100%;
    width: 100%;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.271);
    margin: 3rem auto;
    padding: 2rem;
    max-inline-size: 60rem;
    border-radius: 10px;
}